<h1>Pages#project_2</h1>
<p>Find me in app/views/pages/project_2.html.erb</p>

<p> To install bootstrap I added the line "gem 'bootstrap-sass' " in my Gemfile <br>
   Then in the terminal I installed the bundles using the line "bundle install" <br>
   To link the bootstrap I went to app/assets/stylesheets/pages.css.scss and added the line "@import "bootstrap" " to import the bootstrap <br>
   To route first I generated a new html using the rails generate method. <br>
   Using rails generate controller Pages project_2 <br>
   After I added the line get 'pages/project_2' in config/routes.rb
</p>
