<!DOCTYPE html>
<html>
<head>
  <title>Austin Kwok</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "pages" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

</head>
<body>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <div class-"navbar navbar-inverse navbar-fixed-top">
	<div class = "container">
		<div class = "navbar-header">
			<a class ="navbar-brand" href = "#">Austin Kwok</a>
		</div>
	</div>
</div>
<%= yield %>



</body>
</html>
